body {
	background-color: #f5f5f5;
	text-align: center;
}

body .container {
	background: #fff;
	width: 100%;
	max-width: 856px;
	text-align: center;
	margin: 0px auto;
}


/*主体样式设定*/

.container .logo {
	width: 49px;
	height: 48px;
	display: inline-block;
	text-indent: -9999px;
	margin-top: 50px;
	position: relative;
}

.container .logo>* {
	display: block;
}

.container .title {
	margin-top: 20px;
	font-size: 30px;
	color: #000;
}

.container .form-item {
	box-sizing: content-box;
	width: 100%;
	max-width: 360px;
	height: 48px;
	border: none;
	border: solid #ccc 1px;
	margin-top: 15px;
	font-size: 10px;
}

.container .form-item input {
	width: 100%;
	height: 100%;
	text-indent: 15px;
	border: none;
}

.container .form-item:first-child {
	margin-top: 0px;
}

.container .btn {
	padding: 0px;
	background: #EF5B00;
	border: solid #EF5B00 1px;
	color: #fff;
	margin-top: 40px;
	font-size: 14px;
	text-indent: 0px;
}

.account-page .footer .desc {
	width: 100%;
	max-width: 360px;
	position: relative;
	text-align: center;
	margin: 0px auto;
	z-index: 2;
	margin-top: 15px;
}


/*页脚样式设定*/

#footer {
	font-size: 10px;
	color: #757575;
	text-align: center;
}

#footer .desc,
#footer .options {
	height: 50px;
}

#footer .options {
	line-height: 50px;
	font: 10px;
}

#footer .options .active {
	color: #333;
}

#footer .options>* {
	display: inline-block;
	padding: 0px 10px;
	line-height: 12px;
	border-left: solid 1px #b0b0b0;
}

#footer .options>*:first-child {
	border-left: none;
}

#footer .options>*:hover {
	color: #333;
}