@charset "utf-8";
body{
    color: #757575;
}
header{
    width: 1130px;
    height: 98px;
    margin: 0 auto;
}
header>a>div{
    width: 200px;
    height: 98px;
    background: url("../images/mistore_logo.png");
}
main{
    width: 100%;
    height: 588px;
    position: relative;
    background: url("../images/523923ee3d985386d832e082980e4de9.jpg") center no-repeat;
    background-position: top;
}
.main-box{
    width: 1130px;
    height: 554px;
    margin: 0 auto;
    padding:30px 0 0 0;
    position: relative;
}
.main-right-box{
    width: 400px;
    height: 524px;
    position: absolute;
    right: 0;
    background: #fff;

}
/*form login*/
.form-main-box{
    width: 400px;
    height: 316px;

}
.form-main-header{
    width: 400px;
    height: 82px;
    text-align: center;
    font-size: 24px;
    padding: 27px 0 24px;
    color: #666;
    cursor: pointer;
}
.form-main-header>a:nth-child(1){
    color: #f56600;
}
.form-main-header>a:nth-last-child(1):hover{
    color: #f56600;
}
.form-main-header>span{
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
    padding: 0;
    vertical-align: middle;
}
.form-main{
    height: 234px;
}
.form-main>div{
    height: 215px;
}
.form-main>div>div{
    width: 338px;
    height: 215px;
    margin: 0 auto;
}
form>div:nth-child(1){
    width: 338px;
    height: 124px;
}
input {
    width: 336px;
    height: 52px;
    padding-left: 13px;
    margin-bottom: 14px;
}
/*input:focus{*/
    /*outline: none;*/
    /*border-color: #BBBBBB;*/
/*}*/
input:nth-child(1){
    margin-top: 10px;
}
.btn-box{
    margin: 27px 0 14px 0;
}
.btn-box>button.obtn {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background: #f56600;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.main-footer{
    text-align: center;
    font-size: 14px;
}
.main-footer>a{
    color: #999;
}
.main-footer>a:hover{
    color: #f56600;
}
.main-footer>span{
    display: inline-block;
    width: 1px;
    height: 16px;
    border: 1px;
    vertical-align: middle;
    background: #999;
    margin:0 2px;
}
.main-right-footer{
    width: 338px;
    height: 65px;
    position: absolute;
    right: 28px;
    bottom: 20px;
    font-size: 14px;
    color: #bbb;
    text-align: left;
}
.main-right-footer>div:nth-child(1){
    margin-bottom: 10px;
}
.hr{
    display: inline-block;
    width: calc((100% - 100px)/2);
    height: 1px;
    border: 1px solid #bbb;
    vertical-align: middle;
}
.payment{
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment>div{
    width: 30px;
    height: 30px;
    margin:0 17px;
    border-radius: 50%;
    background:#999999;
}
.payment>div:nth-child(1){
    background:#808080;
}
.payment>div:nth-child(1):hover{
    background: #0288d1;
}
.payment>div:nth-child(2){
    background: #757575;
}
.payment>div:nth-child(4){
    background:#555555;
}
.payment>div:nth-child(2):hover{
    background: #d32f2f;
}
.payment>div:nth-child(3):hover {
    background: #0ae;
}
.payment>div:nth-child(4):hover {
    background: #00d20d;
}
.payment>div>a{
    display:inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 50%;
}
.payment>div:nth-child(1)>a{
    background: url("../images/icons_type.png") no-repeat -19px;
    background-size: cover;
    margin:5px;
}
.payment>div:nth-child(2)>a{
    background: url("../images/icons_type.png") no-repeat -38px;
    background-size: cover;
    margin:5px;
}
.payment>div:nth-child(3)>a{
    width: 25px;
    background: url("../images/icons_type.png") no-repeat -56px;
    background-size: cover;
    margin:5px 3px;
}
.payment>div:nth-child(4)>a{
    width: 25px;
    height: 18px;
    background: url("../images/icons_type.png") no-repeat -84px;
    background-size: cover;
    margin: 5px 0;
}
footer{
    width: 100%;
    height: 80px;
    font-size: 14px;
   text-align: center;
    margin-top: 60px;
}
footer>ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer>ul>li{
    color: #757575;
    cursor: pointer;
}
footer>ul>li:nth-child(1){
    color: #333;
}
footer>ul>li:hover{
    color: #333;
}
.language{
    border-right: 1px solid #757575;
    margin-right: 15px;
    padding-right: 15px;
}
footer>p{
    margin-top: 10px;
}
/*Scan code Login*/
.scan-box {
    width: 400px;
    height: 313px;
    display:none;
}
.scan-box >div{
    text-align: center;
    padding-top: 78px;
    width: 400px;
    height: 313px;
}
.scan-footer{
    margin-top: 14px;
    height: 38px;
    text-align: center;
    font-size: 14px;
}
.scan-footer>p>span{
    color: #f56600;
}

