@charset "Utf-8";
@media screen (min-width:768px) and (max-width:1024px) {
	body{
		margin: 0;
		padding: 0;
	}

	.h_logo{
 	width: 768px;
 	height: 109px;
 	margin: 0 auto;
 	display: flex;
 	display: -webkit-flex;
 	justify-content: space-between;
 	}
	.logo{
		background: url(../images/milogo.png) no-repeat center;
	}
	section{
		width: 768px;
		background: #FFFFFF;
	}
	.wraper{
		width: 768px;
		
		background: #FFFFFF;
	}

	.login-box{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    top:0;
    position: relative;
    }

    .username, .password,.submit{
 	display: block;
 	margin: 25px auto;
 	width: 326px;
    height: 48px; 
	}
	 .username, .password{
	 border: 1px solid #616060;
	 }
	

    footer{
    	width: 768px;
    	text-align: center;
    }
    .login-footer{
    	width: 768px;
    	margin: 0 auto;
    }

}


@media screen (min-width: 400px) and (max-width:768x){
	body{
		margin: 0;
		padding: 0;
	}

	.h_logo{
 	width: 400px;
 	height: 109px;
 	margin: 0 auto;
 	display: flex;
 	display: -webkit-flex;
 	justify-content: space-between;
 	}
	.logo{
		background: url(../images/milogo.png) no-repeat center;
	}
	section{
		width: 400px;
		background: #FFFFFF;
	}
	.wraper{
		width: 400px;
		
		background: #FFFFFF;
	}

	.login-box{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    top:0;
    position: relative;
    }

    .username, .password,.submit{
 	display: block;
 	margin: 25px auto;
 	width: 326px;
    height: 48px; 
	}
	 .username, .password{
	 border: 1px solid #616060;
	 }
	

    footer{
    	width: 400px;
    	text-align: center;
    }
    .login-footer{
    	width: 400px;
    	margin: 0 auto;
    }




}


